
.piece {
  /*border: 2px solid red;*/
  display: inline-block;
}

.piece .edit-link {
  color: blue;
}

.piece .edit-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.edit-piece-true .piece-tools {
  display: inline-block;
  background-color: gray;
  padding: 10px;
}

.edit-piece-false .piece-tools {
  display: none;
}

.edit-piece-start {
  display: none;
}

.edit-piece-false:hover button.edit-piece-start {
  display: block;
}

/* SECTION */

.edit-start-button {
  display: none;
}

.editing-false:hover .edit-start-button {
  display: inline-block;
}

.editing-false .edit-box {
  display: none;
}

/* TITLE */

.piece.title {
  display: inline-block;
}

.piece.title input {
  font-size: 40px;
  background-color: transparent;
}

.piece.title .display {
  font-size: 40px;
}

/* BANNER */

.piece.banner {
  background-size: 1000px;
  background-color: white;
  padding: 20px;
}

.piece.banner.bannerbg1 {
  background-image: url("/designs/bannerbg1.png");
}

.piece.banner.bannerbg2 {
  background-image: url("/designs/bannerbg2.jpg");
}

/* NAVIGATION */

.piece.navigation {
  display: inline-block;
}

.piece.navigation ul {
  list-style: none;
}

.piece.navigation li {
  display: inline-block;
  margin: 5px;
}

.piece.navigation li.item {
  display: inline-block;
  background-color: gray;
  border-radius: 5px;
  padding: 2px 5px;
}

.piece.navigation li.drag-space {
  display: inline-block;
  border: 2px dotted orange;
  padding: 0px 5px;
  color: transparent;
}

/* CONTENT */

.piece.content {
  vertical-align: top;
}

.piece.content p {
  text-align: justify;
  padding: 5px;
}
