
.piece .edit-link {
  color: blue;
}

.piece .edit-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.piece .piece-tools {
  background-color: gray;
  display: inline-block;
  padding: 10px;
}

.piece .edit-piece {
  display: none;
}

.piece:hover button.edit-piece {
  display: block;
}

/* TITLE */

.piece.title {
  width: 100%;
  background-color: green;
}

.piece.title input {
  font-size: 40px;
  background-color: transparent;
}

.piece.title .display {
  font-size: 40px;
}

/* BANNER */

.piece.banner {
  background-size: 1000px;
  background-color: white;
  padding: 20px;
  display: inline-block;
}

.piece.banner.bannerbg1 {
  background-image: url("/designs/bannerbg1.png");
}

.piece.banner.bannerbg2 {
  background-image: url("/designs/bannerbg2.jpg");
}

/* NAVIGATION */

.piece.navigation ul {
  list-style: none;
}

.piece.navigation li {
  display: inline-block;
  margin: 5px;
}

.piece.navigation li.item {
  display: inline-block;
  background-color: gray;
  border-radius: 5px;
  padding: 2px 5px;
}

.piece.navigation li.drag-space {
  display: inline-block;
  border: 2px dotted orange;
  padding: 0px 5px;
  color: transparent;
}

/* CONTENT */
